<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <filter>
        <filter-name>AuthFilter</filter-name>
        <filter-class>nguyen.filter.AuthFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>AuthFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <servlet>
        <servlet-name>LoginController</servlet-name>
        <servlet-class>nguyen.controllers.LoginController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MainController</servlet-name>
        <servlet-class>nguyen.controllers.MainController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutController</servlet-name>
        <servlet-class>nguyen.controllers.LogoutController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegisterController</servlet-name>
        <servlet-class>nguyen.controllers.RegisterController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchController</servlet-name>
        <servlet-class>nguyen.controllers.SearchController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchStaffController</servlet-name>
        <servlet-class>nguyen.controllers.SearchStaffController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateStaffController</servlet-name>
        <servlet-class>nguyen.controllers.UpdateStaffController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteStaffController</servlet-name>
        <servlet-class>nguyen.controllers.DeleteStaffController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchInvoiceController</servlet-name>
        <servlet-class>nguyen.controllers.SearchInvoiceController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditInvoiceController</servlet-name>
        <servlet-class>nguyen.controllers.EditInvoiceController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CompleteEditController</servlet-name>
        <servlet-class>nguyen.controllers.CompleteEditController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchInvoiceAjaxController</servlet-name>
        <servlet-class>nguyen.controllers.SearchInvoiceAjaxController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddToRoomCartController</servlet-name>
        <servlet-class>nguyen.controllers.AddToRoomCartController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchServiceController</servlet-name>
        <servlet-class>nguyen.controllers.SearchServiceController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddToServiceController</servlet-name>
        <servlet-class>nguyen.controllers.AddToServiceController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchUserController</servlet-name>
        <servlet-class>nguyen.controllers.SearchUserController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteUserController</servlet-name>
        <servlet-class>nguyen.controllers.DeleteUserController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CheckOutController</servlet-name>
        <servlet-class>nguyen.controllers.CheckOutController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CheckInController</servlet-name>
        <servlet-class>nguyen.controllers.CheckInController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteOrderController</servlet-name>
        <servlet-class>nguyen.controllers.DeleteOrderController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>OrderController</servlet-name>
        <servlet-class>nguyen.controllers.OrderController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HistoryController</servlet-name>
        <servlet-class>nguyen.controllers.HistoryController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginController</servlet-name>
        <url-pattern>/LoginController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MainController</servlet-name>
        <url-pattern>/MainController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutController</servlet-name>
        <url-pattern>/LogoutController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegisterController</servlet-name>
        <url-pattern>/RegisterController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchController</servlet-name>
        <url-pattern>/SearchController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchStaffController</servlet-name>
        <url-pattern>/SearchStaffController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateStaffController</servlet-name>
        <url-pattern>/UpdateStaffController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteStaffController</servlet-name>
        <url-pattern>/DeleteStaffController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchInvoiceController</servlet-name>
        <url-pattern>/SearchInvoiceController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditInvoiceController</servlet-name>
        <url-pattern>/EditInvoiceController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CompleteEditController</servlet-name>
        <url-pattern>/CompleteEditController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchInvoiceAjaxController</servlet-name>
        <url-pattern>/SearchInvoiceAjaxController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddToRoomCartController</servlet-name>
        <url-pattern>/AddToRoomCartController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchServiceController</servlet-name>
        <url-pattern>/SearchServiceController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddToServiceController</servlet-name>
        <url-pattern>/AddToServiceController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchUserController</servlet-name>
        <url-pattern>/SearchUserController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteUserController</servlet-name>
        <url-pattern>/DeleteUserController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CheckOutController</servlet-name>
        <url-pattern>/CheckOutController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CheckInController</servlet-name>
        <url-pattern>/CheckInController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteOrderController</servlet-name>
        <url-pattern>/DeleteOrderController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>OrderController</servlet-name>
        <url-pattern>/OrderController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HistoryController</servlet-name>
        <url-pattern>/HistoryController</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
